:root {
    --sidebar-blue: #1992d4;
    --baclground-grey: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;

    background-color: var(--baclground-grey);
}

li {
    list-style-type: none;
}

.grid {
    display: grid;
    align-items: center;
}


/* Header styling */
header {
    padding: 2rem;
    grid-column: 2/3;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 1.5rem;

    background-color: white;
}

#search-bar {
    height: 1.7rem;
    width: 70%;

    border-radius: 10px;
    border-style: none;
    background-color: var(--baclground-grey);
}

.user-hero {
    grid-template-columns: min-content 1fr;
    gap: 2rem;
}

.user-info {
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

button {
    height: 2.5rem;
    width: 8rem;

    border-radius: 15px;
    border-style: none;
    background-color: var(--sidebar-blue);
    color: white;
    font-weight: bold;
}

/* Sidebar styling */
.sidebar {
    grid-row: 1/3;

    grid-template-rows: 1fr 3fr 3fr 3fr;
    gap: 5rem;

    background-color: var(--sidebar-blue);
}

.sidebar > * {
    margin-left: 2rem;
}

.sidebar-header {
    margin-top: 2rem;
}

.sidebar h1,
.sidebar img,
.sidebar p {
    display: inline-block;
}

.sidebar h1,
.sidebar p {
    color: white;
    font-weight: bold;
}

.sidebar li {
    margin-bottom: 1.6rem;
}


/* Content styling */
.content {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
}

.content > * {
    margin: 2rem;
}

.projects {
    grid-row: 1/3;
}

.card,
.announcements-container,
.trending-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 3px #bbc0c7;
}

/* Cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}

.card {
    min-height: 200px;
    padding: 1rem;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;

    border-left: 8px solid orange;
}

.card div {
    grid-column: 1/4;
    grid-row: 1/2;
}

.card ul {
    grid-column: 3/4;
    grid-row: 2/3;
}

.card li {
    display: inline-block;
}

/* Announcements */
.announcements {
    margin-bottom: 0;
}

.announcements-container {
    padding: 1.3rem 2rem;
}

.announcements li:not(:last-child) {
    margin-bottom: 0.8rem;
}

.announcements li:not(:first-child) {
    padding-top: .8rem;
    border-top: 2px solid var(--baclground-grey);
}


/* Trending */